/*
 * VUE STYLES
 */
[v-cloak] {
    display: none;
}
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave-to {
	opacity: 0
}
/*
 * HEADER MENU STYLES
 */
.header {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
}
.app-heading, a.header-menu-link {
    color: white;
	margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.header-links {
    text-align: right;
}
a.header-menu-link {
    font-weight: bold;
    text-decoration: none;
}
a.header-menu-link:hover {
    text-decoration: underline;
}
/*
 * WORKOUT REGION STYLES
 */
.app-body {
    margin: 0 auto;
    max-width: 768px;
}
.workout-region {
    text-align: center;
}
div.workout-selector {
    margin-top: .5em;
}
div.workout-controls {
    margin: .67em 0;
}
.workout-time {
    background: rgb(26, 94, 140);
}
div.workout-time h1 {
    color: white !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
h1.time-head {
    margin-bottom: 0.1em;
}
p.time-subhead {
    color: white !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin-top: 0.1em;
}
h1.hand-head {
	margin-top: 0.1em;
    margin-bottom: 0.1em;
}
p.hand-subhead {
    margin-top: 0.1em;
}
.count-in {
	background: rgb(223, 117, 20);
}
.rest {
    background: rgb(28, 184, 65);
    color: white !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.button-xlarge {
	font-size: 125%;
}
.emphasis {
    background: rgb(26, 94, 140);
    color: white !important;
}
.muted {
    color: #b3b3b3;
}
h1.big {
    font-size: 4em;
	margin-top: 0.2em;
    margin-bottom: 0.2em;
}
