[v-cloak] {
    display: none;
}
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0
}
/*
 * HEADER MENU STYLES
 */
.home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
}
.pure-menu .pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}
.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
/*
 * WORKOUT REGION STYLES
 */
.workoutRegion {
    max-width: 768px;
    text-align: center;
}
div.workoutControls {
    margin: .67em 0;
}
.workoutTime {
    background: #1f8dd6;
}
div.workoutTime h1 {
    color: white !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
h1.timeHead {
    margin-bottom: 0.1em;
}
p.timeSubhead {
    color: white !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin-top: 0.1em;
}
h1.handHead {
	margin-top: 0.1em;
    margin-bottom: 0.1em;
}
p.handSubhead {
    margin-top: 0.1em;
}
.countIn {
	background: rgb(223, 117, 20);
}
.rest {
    background: rgb(28, 184, 65);
}
.button-xlarge {
	font-size: 125%;
}
